.content-body {
    padding-top: 30px;
    padding-bottom: 20px;
    .sidebar {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        border-left: 1px solid #e9e9e9;
        border-right: 1px solid #e9e9e9;
        .sidebar-title {
            padding: 10px;
            background: #187bca;
            font-size: 18px;
            span {
                color: #fff;
            }
        }
        .sub-title {
            padding: 10px;
            padding-left: 20px;
            border-bottom: 1px solid #e9e9e9;
            font-size: 14px;
            a {
                color: #333;
            }
        }
        .sub-active {
            a {
                color: #337ab7;
            }
        }
    }

    .section-box {
        border: 1px solid #e9e9e9;
        overflow: hidden;
        width: 100%;
        .section-nav {
            padding: 15px 20px;
            border-bottom: 1px solid #e9e9e9;
        }
        .list-box {
            padding: 10px;
            border-bottom: 1px solid #e9e9e9;
            .text-overflow {
                padding-left: 10px;
                display: block;
                word-break: keep-all;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .list-date {
                float: right;
            }
        }
        .section-title {
            margin: 0 20px;
            border-bottom: 1px solid #e9e9e9;
            .content_c_title {
                line-height: 36px;
                color: #0066cc;
                font-family: "Microsoft Yahei";;
                text-align: center;
            }
        }
        .section-info {
            text-align: center;
            .grey14 {
                color: #666;
                font-size: 14px;
                span {
                    margin: 0 1% 0 2%; 
                }
            }
        }
        .section-body {
            margin: 10px;
            overflow: hidden;
            
            p {
                text-indent: 2em;
            }
            .section-table {
                th {
                    background-color: #4688cf;
                    color: #fff;
                }
            }
        }
    }
}

.pic1-img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-bottom: 14px;
}

.pic2-img {
    width: 100px;
    height: auto;
    float: left;
    margin: 0 14px;
}

.pic3-img {
    margin: 2% 2%;
    width: 96%;
    height: 200px;
}

@media (max-width: 720px) {
    .content-body {
        padding-top: 15px;
    }
    .pic1-img {
        width: 100%;
    }
}

